<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
   
      <source name="KitEditeur" switchValue="All"></source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SOAPMessage.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>

    <defaultProxy>
      <proxy usesystemdefault="True" proxyaddress="PROXY:PORT" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PatientCertificationEndPointImplServiceSoapBinding"> 
                  <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport requireClientCertificate="true"/>
                </binding>
                <binding name="HabilitationsEndPointImplServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12"/>
                  <httpsTransport requireClientCertificate="true"/>
                </binding>
                <binding name="PatientSpecificEndPointImplServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12"/>
                  <httpsTransport requireClientCertificate="true"/>
                </binding>
                <binding name="DocumentRegistry_Binding_Soap12">
                  <mtomMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport requireClientCertificate="true"/>
                </binding>
                <binding name="DocumentRepository_Binding">
                  <mtomMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport requireClientCertificate="true"/>
                </binding>
                <binding name="GDP_Binding_Soap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport requireClientCertificate="true"/>
                </binding>
                <binding name="PDQSupplier_Binding_Soap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport requireClientCertificate="true"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/PatientSpecific" binding="customBinding" bindingConfiguration="PatientSpecificEndPointImplServiceSoapBinding" contract="PatientSpecificService.PatientSpecificEndPoint" name="PatientCertificationEndPointImplPort"/>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/patientCertif" binding="customBinding" bindingConfiguration="PatientCertificationEndPointImplServiceSoapBinding" contract="PatientCertificationService.PatientCertificationEndPoint" name="PatientCertificationEndPointImplPort"/>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/DocumentRegistry_Service" binding="customBinding" bindingConfiguration="DocumentRegistry_Binding_Soap12" contract="DocumentRegistryService.DocumentRegistry_PortType" name="DocumentRegistry_Port_Soap12"/>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/DocumentRepository_Service" binding="customBinding" bindingConfiguration="DocumentRepository_Binding" contract="DocumentRepositoryService.DocumentRepository_PortType" name="DocumentRepository_Port_Soap12"/>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/patient" binding="customBinding" bindingConfiguration="GDP_Binding_Soap12" contract="GDPService.GDP_PortType" name="GDP_Binding_Soap12"/>
            <endpoint address="https://servicelocation/PDQ" binding="customBinding" bindingConfiguration="PDQSupplier_Binding_Soap12" contract="PDQSupplierService.PDQSupplier_PortType" name="PDQSupplier_Port_Soap12"/>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/Habilitation" binding="customBinding" bindingConfiguration="HabilitationsEndPointImplServiceSoapBinding" contract="HabilitationService.HabilitationsEndPoint" name="HabilitationsEndPointImplPort"/>
        </client>
    </system.serviceModel>
</configuration>
