<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.diagnostics>
    <sources>
      <source name="KitEditeur" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Détaillé,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add initializeData="SOAPMessage.e2e" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="sdt" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
            <filter type=""/>
          </add>
          <add name="NewListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\SVN\WSClient\DMP\CSharp\trunk\TLSiKitEditeur\App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" initializeData="WCFClient.svclog"/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.net>

    <defaultProxy>
      <proxy usesystemdefault="True" proxyaddress="PROXY:PORT" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  <system.web>
    <compilation debug="true"/>
  </system.web>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
            <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
        </diagnostics>
        <bindings>
            <customBinding>
                <binding name="PatientCertificationEndPointImplServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxReceivedMessageSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="HabilitationsEndPointImplServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxReceivedMessageSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="PatientSpecificEndPointImplServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxReceivedMessageSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="DocumentRegistry_Binding_Soap12">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000"
                        maxBufferSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="DocumentRepository_Binding">
                    <mtomMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxReceivedMessageSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="GDP_Binding_Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxReceivedMessageSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="PDQSupplier_Binding_Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport maxReceivedMessageSize="50000000" requireClientCertificate="true" />
                </binding>
                <binding name="ICIRServiceBinding">
                    <textMessageEncoding messageVersion="Soap12WSAddressing10" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/PatientSpecific"
                binding="customBinding" bindingConfiguration="PatientSpecificEndPointImplServiceSoapBinding"
                contract="PatientSpecificService.PatientSpecificEndPoint"
                name="PatientCertificationEndPointImplPort" />
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/patientCertif"
                binding="customBinding" bindingConfiguration="PatientCertificationEndPointImplServiceSoapBinding"
                contract="PatientCertificationService.PatientCertificationEndPoint"
                name="PatientCertificationEndPointImplPort" />
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/DocumentRegistry_Service"
                binding="customBinding" bindingConfiguration="DocumentRegistry_Binding_Soap12"
                contract="DocumentRegistryService.DocumentRegistry_PortType"
                name="DocumentRegistry_Port_Soap12" />
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/DocumentRepository_Service"
                binding="customBinding" bindingConfiguration="DocumentRepository_Binding"
                contract="DocumentRepositoryService.DocumentRepository_PortType"
                name="DocumentRepository_Port_Soap12" />
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/patient"
                binding="customBinding" bindingConfiguration="GDP_Binding_Soap12"
                contract="GDPService.GDP_PortType" name="GDP_Binding_Soap12" />
            <endpoint address="https://servicelocation/PDQ" binding="customBinding"
                bindingConfiguration="PDQSupplier_Binding_Soap12" contract="PDQSupplierService.PDQSupplier_PortType"
                name="PDQSupplier_Port_Soap12" />
            <endpoint address="https://dev6.lps2.dmp.gouv.fr/si-dmp-server/v2/services/Habilitation"
                binding="customBinding" bindingConfiguration="HabilitationsEndPointImplServiceSoapBinding"
                contract="HabilitationService.HabilitationsEndPoint" name="HabilitationsEndPointImplPort" />
            <endpoint address="https://qualiflps.services-ps.ameli.fr/lps"
                binding="customBinding" bindingConfiguration="ICIRServiceBinding"
                contract="ServiceICIR.ICIRService" name="ICIRService" />
        </client>
    </system.serviceModel>
</configuration>
